[user]
        email = chri.fer.emi@gmail.com
        name = FerrarioChristian
[core]
        editor = nvim
        ; autocrlf = true ; for Windows
        ; autocrlf = input ; for MacOS and Linux
        ; excludesfile = /Users/ferra/.gitignore_global

